/Code/Tests/ImageRestoration/logs/
/Code/Tests/ImageRestoration/Checkpoints/
/Code/Tests/ImageRestoration/Datasets/
/Code/Tests/ImageUpscaling/EDSR/Cat_HR/
/Code/Tests/ImageUpscaling/EDSR/Cat_LR/
/Code/Tests/PetImages/
/Code/TFGCode/DIV2K_train_HR/
/Code/TFGCode/DIV2K_valid_HR/